div#kiosk {
    margin: 0px;
    border: 1px solid;
    padding: 0px;
    width: 1920px;
    height: 1080px;
}

div#sticky {
    margin: 0px;
    border: 1px solid;
    padding: 0px;
    width: 1920px;
    height: 200px;
}

div#stickyLogo {
    width: 920px;
    height: 200px;
    background-image: url(./images/jcpenney.png);
    float: left;
}

div#stickyHome {
    width: 200px;
    height: 200px;
    background-image: url(./images/home.png);
    float: left;
}

div#stickySearch {
    width: 200px;
    height: 200px;
    background-image: url(./images/search.png);
    float: left;
}

div#stickyScan {
    width: 200px;
    height: 200px;
    background-image: url(./images/scan.png);
    float: left;
}

div#stickySignUp {
    width: 200px;
    height: 200px;
    background-image: url(./images/signup.png);
    float: left;
}

div#stickySignIn {
    width: 200px;
    height: 200px;
    background-image: url(./images/signin.png);
    float: left;
}

div.nofloat {
    clear:both;
}
