<!DOCTYPE html>
<html>
<head>
    <title>My Precious Coupons!</title>
    <link rel="stylesheet" type="text/css" href="../common.css" />
    <link rel="stylesheet" type="text/css" href="./myApp.css" />
    <script type="application/javascript" src="../jquery-1.8.2.js"></script>
    <script type="application/javascript" src="../jquery.qrcode-0.11.0.js"></script>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <div id="kiosk">
        <div id="couponListSide">
            <div class="couponBoxSide" ng-repeat="x in coupons" ng-class="{active : isSelected(x.id)}" ng-click="showDetails(x)">
                <div class="inactiveImg" ng-class="{activeImg : isSelected(x.id)}"></div>
                <div class="couponSide" >
                    <span style="font-weight: 800;" >{{x.title}}</span><Span> {{x.subtitle}}</span>
            </div>
                <div class="inactiveArr" ng-class="{activeArr : isSelected(x.id)}"></div>
        </div>
            </div>
        <div id="couponDetails" style="float: left;">
            <div id="couponCutArea" style="float: left;" >
                <div id="couponPrint">
                    <p></p>
                    <p style="font-size: 36px; color: #CC0000;">{{selectedCoupon.title}}<br>
                    <span style="font-size: 24px; color: #999999;">{{selectedCoupon.expiration}}</span></p>
                    <p style="color: #CC0000; weigth:bold; font-size: 40px;">{{selectedCoupon.discount}} OFF*<br>
                    <span style="color: #CC0000; weigth:bold; font-size: 36;">FORMAL UPDO OR NATURAL STYLING</span><br>
                    <span style="color: #CC0000; font-size: 30px;">WITH DESIGNER OR SENIOR DESIGNER</span></p>
                </div>
                <div id="couponBarcode">
                    <p style="color: #7A7A7A; font-size: 20px;">TO SAVE IN STORES, USE PRINTED BARCODE 
                    </p>
                    <p style="color: lightgrey; font-size: 12px;" ><img src="../images/barcode.png" alt="{{selectedCoupon.code}}" /></p>
                </div>
                <span style="color: black; font-weigth:800px; font-size: 36px; text-decoration: underline;" ng-click='sendToPrinter(selectedCoupon.code)'>PRINT COUPON</span>
            </div>
            <div id="couponMoreText" style="float: left">
                <span style="color: #A7A7A7; font-size: 18px; font-family:Arial;"><b style="color: #7A7A7A;">* {{selectedCoupon.expiration}},</b> {{selectedCoupon.discount}} off formal updo or natural styling with a designer or senior designer, excluding taxes. New clients only. One coupon per customer, per transaction, must be provided/surrendered  at time of purchase. Coupon cannot be combined with any other offer. Coupon cannot be used for payment on account. Coupon cannot be redeemed as cash or merchandise credit if merchandise is returned. Savings applyed on qualifying items on prorated basis. No cash value. REPRODUCTIONS WILL NOT BE ACCEPTED.</span>
            </div>
            <div class="nofloat"></div>
        </div>
        <div class="nofloat"></div>
        <div id="sticky">
            <div id="stickyLogo"></div>
            <div id="stickyHome" ng-click="goHome()"></div>
            <div id="stickySearch"></div>
            <div id="stickyScan"></div>
            <div id="stickySignUp"></div>
            <div id="stickySignIn"></div>
            <div class="nofloat"></div>
        </div>
        <div class="printerBox" ng-class="{visible : visible}">
            <div>{{selectedCoupon.title}}</div>
            <div>{{selectedCoupon.expiration}}</div>
            <p></p>
            <div id="div-qr"></div>
            <div class="printBoxButton"><button ng-click="sendToPrinter(selectedCoupon.code)">Print</button><button ng-click="hideBox()">Cancel</button></div>
        </div>
    </div>
</div>
    

<script src="../angular.js"></script>
<script src="./myApp.js"></script>
<script src="./myFactory.js"></script>
<script src="./myCtrl.js"></script>

</body>
</html>
