<!DOCTYPE html>
<html>
<head>
    <title>My Precious Coupons!</title>
    <link rel="stylesheet" type="text/css" href="../common.css" />
    <link rel="stylesheet" type="text/css" href="./myApp.css" />
    <script type="application/javascript" src="../jquery-1.8.2.js"></script>
    <script type="application/javascript" src="../jquery.qrcode-0.11.0.js"></script>
</head>
<body>

<!-- Resolution 1920 x 1080 -->

<div ng-app="myApp" ng-controller="myCtrl">
    <div id="kiosk">
        <div id="container">
            <div id="couponListSide">
                <div class="couponBoxSide" ng-repeat="x in coupons">
                    <div class="couponSide" ng-click="showDetails(x)">
                        <span style="color: red; font-size: 18px;">{{x.title}}</span><br>
                        <span style="color: grey; font-size: 16px;">{{x.subtitle}}</span><br>
                        <span style="color: lightgrey; font-size: 12px;">{{x.expiration}}</span>
                    </div>
                </div>
            </div>
            <div id="couponDetails">
                <div id="printDiv">
                    <p>
                        <span style="color: red; font-size: 18px;">{{selectedCoupon.title}}</span><br>
                        <span style="color: grey; font-size: 16px;">{{selectedCoupon.subtitle}}</span><br>
                        <span style="color: lightgrey; font-size: 12px;">{{selectedCoupon.expiration}}</span>
                    </p>
                </div>
                <button style="font-size: 24px;" ng-click='printCoupon("printDiv", selectedCoupon.code)'>PRINT</button>
            </div>
            <div class="nofloat"></div>
        </div>
        <div id="sticky">
            <div id="stickyLogo"></div>
            <div id="stickyHome" ng-click="goHome()"></div>
            <div id="stickySearch"></div>
            <div id="stickyScan"></div>
            <div id="stickySignUp"></div>
            <div id="stickySignIn"></div>
            <div class="nofloat"></div>
        </div>
    </div>
</div>

<script src="../angular.js"></script>
<script src="./myApp.js"></script>
<script src="./myCtrl.js"></script>

</body>
</html>
