div#couponListSide {
    border: 1px solid grey;
    overflow: auto;
    width: 630px;
    height: 840px;
    float: left;
}

div#couponDetails {
    border: 1px solid grey;
    height: 840px;
}

div.couponBoxSide {
    width: 630px;
    height: 150px;
}

div.couponSide {
    border: 1px solid grey;
    width: 580px;
    height: 110px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
