div#couponListSide {
    float: left;
    margin: 0px;
    border: 1px solid grey;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0px;
    width: 550px;
    height: 880px;
    
}

.couponBoxSide {
    margin: 0px;
    border: 1px solid grey;
    background-color: #DCDCDC;
    width: 550px;
    height: 150px;
    color: #666666; 
    font-size: 24px;
}

.couponSide {
    float: left;
    width: 375px;
    height: 90px;
    border-left: 90px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div#couponDetails {
    margin: 0px;
    border: 1px solid grey;
    background-color: #FAFBFA;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1305px;
    height: 820px;
}

div#couponCutArea {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 5px dashed #CC0000;
    padding: 0px;
    text-transform: uppercase;
    text-align: center;
    width: 1300px;
    height: 650px;
}

div#couponMoreText {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0px solid grey;
    padding: 0px;
    width: 1300px;
    height: 140px;
}

.active {
    background-color: white;
    color: red;
}

.inactiveImg {
    float: left;
    width: 90px;
    height: 130px;
    background-image: url(../images/scisor.png);
}

.activeImg {
    float: left;
    width: 90px;
    height: 130px;
    background-image: url(../images/scisor_active.png);
}

.inactiveArr {
    float: right;
    width: 45px;
    height: 130px;
    padding-right: 10px;
    background-image: url(../images/arrow.png);
}

.activeArr {
    float: right;
    width: 45px;
    height: 130px;
    background-image: url(../images/arrow_active.png);
}

.printBoxButton button {
    width:100px;
    height:100px;
}

.printerBox {
    font-size: 40px;
    position:absolute;
    left: 660px;
    top: 270px;
    width:600px;
    height:500px;
    background-color: white;
    text-align: center;

	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;
    display:none;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

.visible {
    display:block;
}