div#couponListSide {
    margin: 0px;
    border: 1px solid grey;
    overflow: auto;
    padding: 0px;
    width: 550px;
    height: 880px;
}

div.couponBoxSide {
    margin: 0px;
    border: 1px solid grey;
    width: 550px;
    height: 150px;
}

div.couponSide {
    border: 1px solid grey;
    width: 550px;
    height: 70px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}

div#couponDetails {
    margin: 0px;
    border: 1px solid grey;
    padding: 0px;
    width: 1365px;
    height: 880px;
}
