<!DOCTYPE html>
<html>
<head>
    <title>My Precious Coupons!</title>
    <link rel="stylesheet" type="text/css" href="../common.css" />
    <link rel="stylesheet" type="text/css" href="./myApp.css" />
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <div id="kiosk">
        <div id="couponList">
            <div class="couponBox" ng-repeat="x in coupons">
                <div class="coupon" ng-click="showDetails(x.id)">
                    <img ng-src = "{{x.image}}"><br>
                    
                </div>
            </div>
            <div class="nofloat"></div>
        </div>
        <div id="sticky">
            <div id="stickyLogo"></div>
            <div id="stickyBlankGrey"></div>
            <div id="stickyBlankGrey"></div>
            <div id="stickyBlankGrey"></div>
            <div id="stickyHome"></div>
            <div id="stickySearch"></div>
            <div class="nofloat"></div>
        </div>
    </div>
</div>

<script src="../angular.js"></script>
<script src="./myApp.js"></script>
<script src="./myCtrl.js"></script>

</body>
</html>
