<!DOCTYPE html>
<html>
<head>
    <title>My Precious Coupons!</title>
    <link rel="stylesheet" type="text/css" href="../common.css" />
    <link rel="stylesheet" type="text/css" href="./myApp.css" />
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <div id="kiosk">
        <div id="couponList">
            <div class="couponBox" ng-click="showDetails(x.id)" ng-repeat="x in coupons">
                <div class="coupon">
                    <span style="color: red; font-size: 36px; font-weight:bold;">{{x.title}}</span><br>
                    <span style="color: darkgrey; font-size: 28px;">{{x.subtitle}}</span><br>
                    <span style="color: lightgrey; font-size: 24px;">{{x.expiration}}</span>
                </div>
            </div>
            <div class="nofloat"></div>
        </div>
        <div id="sticky">
            <div id="stickyLogo"></div>
            <div id="stickyHome"></div>
            <div id="stickySearch"></div>
            <div id="stickyScan"></div>
            <div id="stickySignUp"></div>
            <div id="stickySignIn"></div>
            <div class="nofloat"></div>
        </div>
    </div>
</div>

<script src="../angular.js"></script>
<script src="./myApp.js"></script>
<script src="./myCtrl.js"></script>

</body>
</html>
