div#couponList {
    border: 1px solid grey;
    overflow: auto;
    width: 1880px;
    height: 840px;
}

div.couponBox {
    width: 440px;
    height: 250px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

div.coupon {
    border: 2px solid grey;
    border-radius: 25px;
    width: 380px;
    height: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
